# Node modules (Next.js)
node_modules
npm-debug.log
yarn-error.log

# Build output (Next.js)
.next
out

# Python (FastAPI)
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
ENV/
.venv/
*.env

# Docker
Dockerfile
docker-compose.yml

# Misc
*.sqlite3
*.db
.idea/
.vscode/
.DS_Store
*.log